*{
    margin: 0;
    padding: 0;
}

body{
    background: silver;
}

header{
    width: 80%;
    padding: 15px 10%;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9d9d9d;
    border-bottom: 2px solid #000;
}

header .logo{
    font-weight: 600;
    font-size: 25px;
}

main {
    width: 80%;
    padding: 15px 10%;
    margin: 50px 0;
}

div .mobiles {
    width: 40%;
    background-color: white;
    justify-content: center;
    display: table;
    height: 50%;
    padding: 15px 10%;
    margin: 5% 20% 30% 20%;
}

div .btn {
    width: 5%;
    height: 20px;
    padding: 5px;
    border-radius: 20%;
    background-color: white;
    border-block-color: aqua;
    text-decoration-color: none;
    text-decoration: none;
}

.margin_return_btn{
    margin-top: 5%;
    margin-inline-end: auto;
}