@{
    ViewData["Title"] = "Базовая станция";
}
<div>
    <a asp-controller="Test" asp-action="CheckDatabase" class="btn btn-primary">
        Перейти к тесту БД
    </a>
</div>

<div class="main">
    <div class="mobiles">
        
    </div>
</div>
